@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');