@use "./styles/_global.scss" as *;

* {
  padding: 0;
  margin: 0;
  font-family: "Jersey 20";

  transition: .2s;
}

body {
  background-color: $base-color;
  background-image: url("./assets/bg1.jpg");
  background-repeat: repeat;
  background-size: 50% auto;
  color: $base-text-color;
  position: relative;
  overflow-x: hidden;
}

